.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.header-section {
    -fx-background-color: rgb(0, 128, 128);
    -fx-pref-height: 100px;
    -fx-padding: 10px;
}

.header-section Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 15px;
}

#account {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

#header-text {
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.sidebar-section {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-width: 1;
    -fx-border-color: transparent #E8E8E8 #E8E8E8 transparent;
}

/* Permet de sélectionner tous les "Label" contenus dans l'élément ayant pour class "sidebar-section" */
.sidebar-section Label {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-color: transparent transparent #E8E8E8 transparent;
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
}

.content-section {
    -fx-wrap-text: true;
    -fx-border-color: transparent transparent #E8E8E8 transparent;
    -fx-padding: 10px 20px;
}

#content-header {
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;
    -fx-font-weight: 700;
}

#content {
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

#footer-section {
    -fx-pref-height: 50px;
    -fx-alignment: center;
}